.tile {
  width: 30%;
  background: orange;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

.tile-clicked {
  background-color: green;
}

.enemy-tile-clicked {
  background-color: red;
}

.winner-pov {
  background-color: green;
}

.loser-pov {
  background-color: red;
}

.chat-wrapper {
  padding: 10px;
}

.chat-wrapper form {
  display: flex;
}

.chat-wrapper form input {
  font-size: 1rem;
  margin: 0 10px 0 0;
  padding: 0 5px;
  flex-grow: 1;
}

.chat-wrapper form button {
  width: 80px;
}

#aim-screen {
  width: 50%;
  height: 700px;
  border: 5px solid black;
}

#tictac-screen {
  max-width: 600px;
  margin: 0 auto;
  display: none;
}

#lobby-screen {
  display: block;
}

#timer {
  display: none;
  font-family: Arial;
  font-size: 300%;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.centre {
  display: inline-block;
}
